@page "/serviceLog"
@using AutoService.WEBAPI.Dto
@using AutoService.Client.ViewModels
@using AutoService.WEBAPI.Controllers
@using AutoService.Client.Enums

@inject ServiceCheckoutServiceTypeServiceSummServiceViewModel _viewModel;
@inject HttpClient _httpClient;
@inject IJSRuntime js;
@inject IHttpClientFactory ClientFactory;
@inject IModalService modal  


<h1 class="Title" style="font-weight: 800;">Service Log</h1>
	<div class="functionalWrapper" style="width: 600px;display: flex; align-items: center; justify-content: flex-start;">
		@*
		<button class="btn btn-light " @onclick="@(()=>modal.Show<CreateOrderForm>())" style="margin-right: 10px">+</button>
		*@
		<button class="btn btn-light" style="margin-right: 10px">Show New</button>
		<button class="btn btn-light" @onclick="async()=>await OnInitializedAsync()" style="margin-right: 10px">Show All</button>
		<div class="inputWrapper" style="width: 300px;display: flex;">
			<input @bind="seachQ" type="text" class="form-control" style="margin-right:10px" placeholder="Вкажіть ім'я">
			<button class="btn btn-light"style="margin-right: 10px">Search</button>
		</div>
	</div>

	<div class="tableWrapper">
		<table class="table table-hover table-striped-columns">
			<thead>
			<tr>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 70px">#</th>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 70px">Status</th>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 300px">Client</th>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 150px">Car</th>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 150px">Box</th>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 400px">Master</th>
				<th style="font-weight: 800; background-color: #e6e6e6; width: 100px">Service Type</th>
			</tr>
			</thead>
			
			@if (data == null)
            {
                <text>Loading...</text>
            }
            else if (!data.Any())
            {
                <text>No Records Found.</text>
            }
            else

            {
	            foreach (ServiceCheckoutServiceTypeDto entity  in data)
	            {
		            <tr>
			            <td style="font-weight: 800">@entity.Id</td>
			            <td>@(Helper.ServiceParser(entity.ServiceStatus))</td>
			            <td>@entity.Customer</td>
			            <td>@entity.MarkeModel</td>
			            <td>@entity.Box</td>
			            <td>@entity.Master</td>
			            <td>@entity.ServiceType</td>
			            <td>
				            <button class="buttonPlus"><i class="fa fa-check " aria-hidden="true"></i></button>
				            <button class="buttonTrash" @onclick="async () => await DeleteRecord(entity.Id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
			            </td>
		            </tr>
	            }
            }
		</table>
	</div>

@code {
	private string? seachQ;
	List<ServiceCheckoutServiceTypeDto> data { get; set; }
	protected override async Task OnInitializedAsync()
	{
		data = await _viewModel.Get();
	}

	private async Task DeleteRecord(int id)
	{
		if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete record?"))
		{
			await _viewModel.Delete(id);
			data = await _viewModel.Get();
		}
	}

}